APP_NAME="Awesome project"
APP_KEY=
APP_HOST=127.0.0.1
APP_PORT=8000
APP_MODE=debug

# Database MySQL
DB_NAME=awesome
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

# JWT
JWT_SECRET=
